body{
    font-family:Arial,Helvetica,sans-serif;
}

.hero{
    background:linear-gradient(135deg,#198754,#2ecc71);
    color:white;
    padding:100px 0;
}

.hero img{
    width:140px;
}

.section{
    padding:70px 0;
}

.feature-card{
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-8px);
}

footer{
    background:#198754;
    color:white;
    padding:25px;
    text-align:center;
}